<html>

  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
    <div class="jumbotron">
      <h1 class="display-4">Bienvenue <%=params["first_name"]%> sur le site du Gossip Project</h1>
    </div>
      
    <div class='container text-center'>
      <p>Voici la liste de tous les potins</p><br>
      <%= link_to "Ajouter un gossip", new_gossip_path, :class=>"btn btn-secondary btn-lg active "%>
    </div>
    <div class='card'>
      <% @gossips.all.each do |gossip|%>
      <div class='card-header'>Potin numéro<%= gossip.id %></div>
      <div class='card-body'>
        <h5 class='card-title'><%= gossip.title %></h5>
        <h4 class='card-title'><%= gossip.user.first_name %></h4>
        <%= link_to "Découvrez le gossip", gossip_path(gossip.id), :class=>'btn btn-primary'%>
        <%= link_to "edit", edit_gossip_path(gossip.id), :class=>'btn btn-default'%>
      </div>
    <% end %>
    
    

  </body>

</html>

