<html>
  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
    <div class="jumbotron">
      <h1 class="display-4">Vous voulez créer un potin ? Super !</h1>
    </div>
    <%= form_tag gossips_path(@gossip.id) do %>
      <%= label_tag 'Titre' %>
      <%= text_field_tag 'gossip[title]', @gossip.title %>
      <br />
      <%= label_tag 'User_id' %>
      <%= text_field_tag 'gossip[user_id]', @gossip.user_id %>
      <br /> 
      <%= label_tag 'Contenu' %>
      <%= text_field_tag 'gossip[content]', @gossip.content %>
      <br />       
      <%= submit_tag 'Add Gossip' %>
    <% end %>
  </body>
</html>