<html>

  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue <%=params["first_name"]%> sur le site du Gossip Project</h1>
  </div>
    

    <p class='text-center'>Voici la liste de tous les potins</p><br>
    
    <div class='card'>
    <% @gossips.all.each do |gossip|%>
      <div class='card-header'>Potin numéro<%= gossip.id %></div>
      <div class='card-body'>
        <h5 class='card-title'><%= gossip.title %></h5>
        <h4 class='card-title'><%= gossip.user.first_name %></h4>
        <%= link_to "Cliquez ici", potin_id_path(@id=gossip.id), :class=>'btn btn-primary'%>
    <% end %>
    
    

  </body>

</html>

