<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">The Gossip Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse lead" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active ">
            <%= link_to 'Home', root_path, :class=>'nav-link'%>
          </li>
          <li class="nav-item">
            <%= link_to 'Team', team_path, :class=>'nav-link'%>
          </li>
          <li class="nav-item">
            <%= link_to 'contact', contact_path, :class=>'nav-link'%>
          </li>
        </ul>

        <ul class= 'navbar-nav ml-auto'>
          <% if current_user%>
            <li class='nav-item p-2'>
              <%= link_to "Se déconnecter", session_path(session.id), method: :delete, :class=>"nav-link btn btn-outline btn-lg", data: { confirm: "êtes-vous sûr de vouloir vous déconnecter ?" } %>
            </li>
          <% else%>
            <li class='nav-item p-2'>
              <%= link_to "Inscription", new_user_path, :class=>"nav-link btn btn-secondary btn-lg"%>
            </li>
            <li class='nav-item p-2'>
              <%= link_to "Connexion", new_session_path, :class=>"nav-link btn btn-outline-secondary btn-lg"%>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

  

      <% flash.each do |name, message|%>
       <div class="alert alert-<%=name%>%"><%=message%></div>
      <%end%>


    <%= yield %>
  </body>
</html>
